/* article=404 */
main #NotFound {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  cursor: default;
}

main #NotFound > #NotFoundLogo {
  border-radius: 50%;
  margin: auto;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: white;
  font-size: 8rem;
  padding: 4rem;
  width: 96px;
  height: 96px;
}

main #NotFound > #NotFoundLogo:hover,
main #NotFound > #NotFoundLogo:active {
  transform: rotate(-360deg);
}

main #NotFound > h1 {
  font-size: 2.5rem;
  font-weight: normal;
  padding: 5rem 5rem 0.5rem;
  text-align: center;
  width: 80%;
  line-height: 4rem;
  /* border-bottom: 1px solid; */
}

main #NotFound > p {
  font-size: 1.5rem;
  padding: 1em;
  line-height: 3rem;
  border-top: 2px solid grey;
}

main #NotFound > .socialIcon .fa:hover,
main #NotFound > .socialIcon .fa:active {
  color: white;
  transform: translateY(-5px);
}

main #NotFound > .socialIcon .fa-github {
  background-color: #444444;
}

main #NotFound > .socialIcon .fa-weibo {
  background-color: #d72b2b;
}

main #NotFound > .socialIcon .fa-wechat {
  background-color: #2fdd5b;
}

main #NotFound > button {
  width: 12rem;
  line-height: 3rem;
  border: 0;
  font-size: 1.5rem;
  background-color: grey;
  color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
  margin: 4rem auto;
  transition-duration: 0.5s;
}

main #NotFound > button:hover,
main #NotFound > button:active {
  background-color: #444444;
  color: white;
  transform: scale(1.2);
}
