/* search page */
main #search {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main #search .filter {
  /* width: 400px; */
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
}

main #search .filter #searchFilter {
  display: flex;
  flex-direction: column;
  margin: auto;
}

main #search .filter #searchFilter div {
  align-self: start;
  /* margin: 0 40px; */
}

main #search .filter #searchFilter input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #eaeaea;
  padding: 5px;
  margin: 20px auto;
  font-size: 1.2rem;
}

main #search .filter #searchFilter #descripText {
  height: 80px;
  background-color: #eaeaea;
  width: 300px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 5px;
  border: none;
  resize: none;
  font-size: 1.2rem;
}

main #search .filter #searchFilter input[type='radio'] {
  width: 12px;
  border: none;
  margin: 0;
  height: 12px;
}

main #search .filter #searchFilter input[type='button'] {
  background-color: #444444;
  color: white;
  box-sizing: content-box;
  cursor: pointer;
}

main #search .filter #searchFilter label {
  line-height: 12px;
  font-size: 1.2rem;
}

/* filter after */
main #search .filterAfter {
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  box-shadow: 1px 0 3px gainsboro, -1px 0 3px gainsboro, 0 1px 3px gainsboro, 0 -1px 3px gainsboro;
  top: 60px;
}

main #search .filterAfter #searchFilter {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

main #search .filterAfter #searchFilter div {
  align-self: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

main #search .filterAfter #searchFilter input {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #fafafa;
  padding: 5px;
  font-size: 1.2rem;
}

main #search .filterAfter #searchFilter #descripText {
  height: 30px;
  background-color: #fafafa;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  border: none;
  resize: none;
  font-size: 1.2rem;
}

main #search .filterAfter #searchFilter input[type='radio'] {
  width: 12px;
  border: none;
  margin: 0;
  height: 12px;
  /* display: none; */
}

main #search .filterAfter #searchFilter input[type='button'] {
  background-color: #444444;
  color: white;
  box-sizing: content-box;
  cursor: pointer;
  width: 50px;
  margin: 10px;
}

main #search .filterAfter #searchFilter label {
  line-height: 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}

main #search .result {
  display: none;
  padding-top: 120px;
  width: 100vw;
}

main #search .result .onePic {
  height: 160px;
  display: flex;
  padding: 25px 30px 0;
  align-items: flex-start;
  width: 80%;
  background: white;
  margin: 40px auto;
  border-radius: 20px;
  cursor: pointer;
}

main #search .result .onePic .picContain {
  width: 25%;
  background-color: gainsboro;

  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #search .result .onePic .picContain img {
  cursor: pointer;
}

main #search .result .onePic .message {
  padding: 10px;
  cursor: auto;
  text-align: left;
  width: 75%;
}

main #search .result .onePic .message h1 {
  line-height: 40px;
  font-size: 1.6rem;
}

main #search .result .onePic .message p {
  text-align: left;
  line-height: 20px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 auto 10px;
}

@media screen and (max-width: 830px) {
  main #search .filterAfter {
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    display: none;
    bottom: 30vh;
    top: auto;
  }

  main #search .filterAfter #searchFilter {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  main #search .filterAfter #searchFilter div {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 10px;
  }

  main #search .filterAfter #searchFilter input {
    width: 240px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #eaeaea;
    padding: 5px;
    font-size: 1.2rem;
  }

  main #search .filterAfter #searchFilter #descripText {
    height: 70px;
    background-color: #eaeaea;
    width: 240px;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    border: none;
    resize: none;
    font-size: 1.2rem;
  }

  main #search .filterAfter #searchFilter input[type='radio'] {
    width: 12px;
    border: none;
    margin: 0;
    height: 12px;
    /* display: none; */
  }

  main #search .filterAfter #searchFilter input[type='button'] {
    background-color: #444444;
    color: white;
    box-sizing: content-box;
    cursor: pointer;
    width: 240px;
    margin: 10px;
  }

  main #search .result {
    display: none;
    padding-top: 20px;
    width: inherit;
    background-color: white;
  }

  main #search .result .onePic {
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
  }

  main #search .result .onePic .picContain {
    width: 90%;
    background-color: gainsboro;
    border-radius: 10px;
    overflow: hidden;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #search .result .onePic img {
    width: 100%;
    cursor: pointer;
    height: auto;
  }

  main #search .result .onePic .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    width: 90%;
  }

  main #search .result .onePic .message h1 {
    line-height: 30px;
    font-size: 1.4rem;
  }

  main #search .result .onePic .message p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: none;
  }
}
